<a href="https://colab.research.google.com/github/Susrinivas/Susrinivas_data606/blob/main/src/ml_models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('nyc.csv')

In [ ]:
df.shape

(222900, 14)

In [ ]:
df.drop(['pickup_datetime'], axis=1, inplace=True)

In [ ]:
df.head()

,Unnamed: 0,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,day,weekday,hour,distance
0,0,12.50,-73.986430,40.760465,-73.988990,40.737075,1,2014,2,19,2,7,2.608136
1,1,4.00,-73.979815,40.751902,-73.979446,40.755481,1,2014,12,6,5,20,0.398928
2,2,5.50,-73.976075,40.752422,-73.981082,40.759285,1,2014,2,19,2,16,0.871366
3,3,22.54,-74.010483,40.717667,-73.985771,40.660366,1,2015,6,21,6,21,6.699343
4,4,58.00,-73.983330,40.738720,-73.933197,40.847225,1,2015,1,11,6,3,12.774031

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
y=df['fare_amount']
X=df.drop(columns=['fare_amount'])
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=3)

### Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
print(y_pred)

[27.48750097 11.02785081 39.97727578 ...  8.3378736  15.47949193
  8.87018165]

In [ ]:
X_test.drop(['Unnamed: 0'], axis=1, inplace=True)

In [ ]:
X_train.drop(['Unnamed: 0'], axis=1, inplace=True)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
X_test.shape

(66870, 11)

In [ ]:
y_pred.shape

(66870,)

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [ ]:
rms = sqrt(mean_squared_error(y_test, y_pred))
rms

4.882296063803678

###Decision Tree Regressor

In [ ]:
from sklearn import tree

In [ ]:
clf=tree.DecisionTreeRegressor()

In [ ]:
clf=clf.fit(X_train,y_train)

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
rms = sqrt(mean_squared_error(y_test, y_pred))
rms

5.164744366487846

###Random Forest

In [ ]:
%%time
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor(max_depth=2, random_state=0, n_estimators=100)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

CPU times: user 21 s, sys: 406 µs, total: 21 s
Wall time: 21.5 s

In [ ]:
rms = sqrt(mean_squared_error(y_test, y_pred))
rms

5.773280039317313

In [ ]:
###LightGBM

In [ ]:
import lightgbm as lgb

In [ ]:
params = {
    'learning_rate' : 0.75,
    'application': 'regression',
    'max_depth': 3,
    'num_leaves': 100,
    'verbosity': -1,
    'metric': 'RMSE'
}

In [ ]:
train_set= lgb.Dataset(X_train, y_train, silent=True)

In [ ]:
X_train.head()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,day,weekday,hour,distance
148828,-74.006336,40.733745,-74.013778,40.714801,1,2014,10,14,1,8,2.196470
207443,-74.008059,40.723000,-73.996732,40.738200,1,2014,8,13,2,23,1.939811
97286,-74.006821,40.743912,-73.970299,40.755531,1,2015,4,23,3,8,3.334723
7461,-73.947983,40.770702,-73.966667,40.764312,1,2014,12,17,2,14,1.725384
164530,-73.998558,40.745071,-74.010612,40.709240,5,2015,1,17,5,13,4.109142

In [ ]:
y_train.head()

148828     8.5
207443     7.0
97286     17.0
7461      10.0
164530    13.5
Name: fare_amount, dtype: float64

In [ ]:
train_set

In [ ]:
%%time
lb=lgb.train(params,train_set)

/usr/local/lib/python3.10/dist-packages/lightgbm/basic.py:1491: UserWarning: 'silent' argument is deprecated and will be removed in a future release of LightGBM. Pass 'verbose' parameter via 'params' instead.
  _log_warning("'silent' argument is deprecated and will be removed in a future release of LightGBM. "

CPU times: user 1.58 s, sys: 24 ms, total: 1.6 s
Wall time: 911 ms

In [ ]:
y_pred = lb.predict(X_test)

In [ ]:
rms = sqrt(mean_squared_error(y_test, y_pred))
rms

4.120656391873443

In [ ]:
print(y_pred[:15])

[21.95944763 11.56423652 35.02792809  6.38973046  8.44266008 12.40255661
  7.81853969 12.6137114   8.15884884  7.11549029 39.98042812  9.46251668
  7.38669699  5.13403313  5.66214216]

In [ ]:
print(y_test[:15])

76194     21.0
182796    18.0
16337     37.5
152684     6.5
29186      7.5
137699    15.5
106316    13.0
201739    21.5
176707     7.5
1262       6.5
10934     33.0
80245     10.5
185408     8.0
198140     4.0
83810      5.0
Name: fare_amount, dtype: float64

### Gradient Boosting Regressor

1.   List item

1.   List item
2.   List item


2.   List item

In [ ]:
from xgboost import XGBRegressor

In [ ]:
#Creating a model instance
model3 = XGBRegressor(random_state = 92, 
                      max_depth = 7,
                      objective = 'reg:squarederror',
                      n_estimators = 200,
                      n_jobs = -1,
                     )

In [ ]:
model3.fit(X_train,y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=7, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=200, n_jobs=-1, num_parallel_tree=None,
             predictor=None, random_state=92, ...)

In [ ]:
y_pred = model3.predict(X_test)

In [ ]:
print(y_pred)

[24.397318  13.4952965 31.606112  ...  6.185861  17.677706   7.701316 ]

In [ ]:
rms = sqrt(mean_squared_error(y_test, y_pred))
rms

3.6487914470144287

In [ ]:
X_test['fare_amount'] = model3.predict(X_test)

In [ ]:
X_test.head()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,day,weekday,hour,distance,fare_amount
76194,-73.979610,40.759562,-73.984598,40.683237,5,2014,1,27,0,22,8.492021,24.397318
182796,-73.973512,40.763452,-73.993815,40.746680,1,2014,7,16,2,18,2.528760,13.495296
16337,-73.983398,40.730122,-73.928711,40.854618,2,2015,4,16,3,23,14.579669,31.606112
152684,-73.978157,40.759697,-73.974686,40.750908,1,2015,2,28,5,19,1.019462,6.687253
29186,-73.971784,40.746134,-73.981827,40.731037,1,2014,5,11,6,8,1.878719,6.894109

In [ ]:
print(y_test)

76194     21.0
182796    18.0
16337     37.5
152684     6.5
29186      7.5
          ...
135935    11.0
15692      9.0
118886     7.0
98507     14.5
203348     6.5
Name: fare_amount, Length: 66870, dtype: float64

AttributeError: ignored